<!DOCTYPE html>
<html>
    <head>
        <title> Control de Acceso </title>
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <h1> Panel de Control: {{ variable[0][0]["plantel"] }} </h1>
        <h2>Your ID: <span id="ws-id"></span></h2>

        <div class="card">
            <h2> Estatus del módulo </h2>
            <div class="input-group">
                <label for="hours"> Estatus de la Raspberry: </label>
                <button onclick="raspberryStatus()"> Estado de la Raspberry </button>
            </div>
            <div class="input-group">
                <label for="minutes"> Estatus de la Esp32: </label>
                <button onclick="espStatus()"> Estado de la Esp32 </button>
            </div>

            <div id="statusReponse"></div>

        </div>

        <div class="card">
            <h2> Hora de Encendido </h2>
            <div class="input-group">
                <label for="hours"> Hora (24 hrs.): </label>
                <input type="number" id="on_hour" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_on_time"][0]}}" min="0" max="23">
            </div>
            <div class="input-group">
                <label for="minutes"> Minuto (0 - 59): </label>
                <input type="number" id="on_minute" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_on_time"][1]}}" min="0" max="59">
            </div>
            <div class="input-group">
                <label for="seconds"> Segundo (0 - 59): </label>
                <input type="number" id="on_second" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_on_time"][2]}}" min="0" max="59">
            </div>
        </div>

        <div class="card">
            <h2> Hora de Apagado </h2>
            <div class="input-group">
                <label for="hours"> Hora (24 hrs.): </label>
                <input type="number" id="off_hour" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_off_time"][0]}}" min="0" max="23">
            </div>
            <div class="input-group">
                <label for="minutes">  Minuto (0 - 59): </label>
                <input type="number" id="off_minute" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_off_time"][1]}}" min="0" max="59">
            </div>
            <div class="input-group">
                <label for="seconds"> Segundo (0 - 59): </label>
                <input type="number" id="off_second" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["turn_off_time"][2]}}" min="0" max="59">
            </div>
        </div>

        <div class="card">
            <h2> Días de la semana de encendido </h2>
            <div class="input-group">
                <div class="day-checkbox">
                    <input type="checkbox" id="monday">
                    <label for="monday"> Lunes </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="tuesday">
                    <label for="tuesday"> Martes </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="wednesday">
                    <label for="wednesday"> Miércoles </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="thursday">
                    <label for="thursday"> Jueves </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="friday">
                    <label for="friday"> Viernes </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="saturday">
                    <label for="saturday"> Sábado </label>
                </div>
                <div class="day-checkbox">
                    <input type="checkbox" id="sunday">
                    <label for="sunday"> Domingo </label>
                </div>
            </div>
        </div>

        <div class="card">
            <h2> Zona Horaria </h2>
            <div class="input-group">
                <label for="hours"> Zona horaria: </label>
                <input type="number" id="timezone" placeholder=0 value="{{variable[0][1]["pcb_parameters"]["timezone_offset"]}}" min="-12" max="14">
            </div>
        </div>

        <div class="card">
            <h2>  Parámetros WiFi </h2>
            <div class="card-content">
                <div class="input-group">
                    <label for="parameter1"> Nombre de la Red: </label>
                    <input type="text" id="ssid" placeholder=" Nombre de la Red " value="{{variable[0][1]["pcb_parameters"]["wifi_parameters"]["ssid"]}}">
                </div>
                <div class="input-group">
                    <label for="parameter2"> Contraseña: </label>
                    <input type="text" id="password" placeholder=" Contraseña " value="{{variable[0][1]["pcb_parameters"]["wifi_parameters"]["password"]}}">
                </div>
            </div>
        </div>

        <div class="card">
            <h2>  Pcb Id </h2>
            <div class="card-content">
                <div class="input-group">
                    <label for="parameter3"> PCB Id: </label>
                    <input type="text" id="pcb_id" placeholder=1 value="{{variable[0][1]["pcb_parameters"]["pcb_id"]}}">
                </div>
            </div>
        </div>

        <div class="card">
            <h2>  Detalles del PCB </h2>
            <div class="card-content">
                <div>
                    <label for="parameter1"> Característica 1 : </label>
                    <textarea type="text" id="detail1" placeholder=" PCB installed in CBTIS 0. "> {{variable[0][1]["pcb_parameters"]["pcb_details"][0]}} </textarea>
                </div>
                <div>
                    <label for="parameter2"> Característica 2: </label>
                    <textarea type="text" id="detail2" placeholder=" PCB installed next to main building."> {{variable[0][1]["pcb_parameters"]["pcb_details"][1]}} </textarea>
                </div>
            </div>
        </div>

        <div class="card">
            <h2>  Versión del PCB </h2>
            <div class="card-content">
                <div class="input-group">
                    <label for="parameter1"> Versión : </label>
                    <input type="text" id="pcbversion" placeholder=1.0 value="{{variable[0][1]["pcb_parameters"]["pcb_version"]}}">
                </div>
            </div>
        </div>

        <div class="card">
            <h2>  Colores de Leds </h2>
            <div class="card-content">
                <div class="input-group">
                    <label for="parameter1"> Color de Stand-by: </label>
                    <input type="text" id="stand_by" placeholder=" Azul " value="{{variable[0][1]["pcb_parameters"]["color_leds"]["stand_by_color_led"]}}">
                </div>
                <div class="input-group">
                    <label for="parameter1"> Color de Alumno-Ok: </label>
                    <input type="text" id="ok_student" placeholder=" Verde " value="{{variable[0][1]["pcb_parameters"]["color_leds"]["ok_student_color_led"]}}">
                </div>
                <div class="input-group">
                    <label for="parameter1"> Color de Alumno-Error: </label>
                    <input type="text" id="error_student" placeholder=" Rojo " value="{{variable[0][1]["pcb_parameters"]["color_leds"]["error_student_color_led"]}}">
                </div>
            </div>
        </div>

        <div class="container">
            <h2> Variables de Entorno </h2>
            <div class="container-2">
                <div class="input-group">
                    <div class="column-2">
                        <label for="app_server_url"> App server (url): </label>
                        <input class="column-3" type="text" id="app_server_url" placeholder="https://www.edumediamanager.com" value="{{variable[0][1]["environment_variables"]["app_server_url"]}}">
                    </div>
                    <div class="column-2">
                        <label for="module_type"> Tipo de módulo: </label>
                        <select class="column-3" id="selection_module_type">
                            <option value="check_in_out" >  check_in_out </option>
                            <option value="checkout"> checkout </option>
                            <option value="check_in_out_edumedia"> check_in_out_edumedia </option>
                            <option value="torniquete_edumedia"> torniquete_edumedia </option>
                        </select>
                    </div> 
                    <div class="column-2">
                        <label for="timezone"> Zona horaria: </label>
                        <select class="column-3" id="selection_timezone">
                            <option value="America/Mexico_City">  America/Mexico_City </option>
                            <option value="America/Los_Angeles"> America/Los_Angeles </option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <div class="column-2"> 
                        <label for="plantel_identificador"> Identificador del plantel: </label>
                        <input class="column-3" type="text" id="plantel_identificador" placeholder="nnccopos82" value="{{variable[0][1]["environment_variables"]["plantel_identificador"]}}">
                    </div>
                    <div class="column-2">
                        <label for="plantel_nombre"> Nombre del plantel: </label>
                        <input class="column-3" type="text" id="plantel_nombre" placeholder="PREPA*1" value="{{variable[0][1]["environment_variables"]["plantel_nombre"]}}">
                    </div> 
                    <div class="column-2">
                        <label for="individuo_identificador"> Tipo de identificación: </label>
                        <select class="column-3" id="identification_type">
                            <option value="RFID">  RFID </option>
                            <option value="NUMERO_DE_CONTROL"> NUMERO_DE_CONTROL </option>
                            <option value="CODIGO_BARRAS"> CODIGO_BARRAS </option>
                        </select>
                    </div>
                </div> 
            </div>
        </div>

        <div class="container">
            <div class="column">
                <h2>  Actualizar Alumnos </h2>
                <div class="field">
                    <label for="import_students"> Seleccionar: </label>
                    <select id="import_students">
                        <option value="on">  On </option>
                        <option value="off" selected>Off</option>
                    </select>
                </div>
            </div>
            
            <div class="column">
                <h2> Sincronizar Registros </h2>
                <div class="field">
                    <label for="sync_data"> Seleccionar: </label>
                    <select id="sync_data">
                        <option value="on">On</option>
                        <option value="off" selected>Off</option>
                    </select>
                </div>
            </div>
            
            <div class="column">
                <h2> Crear Base de Datos </h2>
                <div class="field">
                    <label for="schema_creation"> Seleccionar: </label>
                    <select id="schema_creation">
                        <option value="on">On</option>
                        <option value="off" selected >Off</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>  JSON Viewer  </h2>
            <button onclick="seeJson()"> See Json </button>
            <div>
                <div>
                    <textarea style="height: 900px; width: 600px;" id="jsonInput" placeholder="See Your JSON here "> </textarea>
                </div>
            </div>
        </div>

        <div class="card">
            <h2>  JSON Sender  </h2>
            <button onclick="sendJson()"> Send Data </button>
        </div>


        <form action="" onsubmit="sendMessage(event)">
            <!--input type="text" id="messageText" autocomplete="off"/>
            <button> Enviar </button-->
        </form>
        <ul id='messages'>
        </ul>

        <script>
            var client_id = Date.now();
            document.querySelector("#ws-id").textContent = client_id;
            // var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);
            var ws = new WebSocket(`ws://edumedia-ca-9ee0c2643de4.herokuapp.com/ws/${client_id}`);
            var request_json = {}
            
            ws.onmessage = function(event) {

                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var content = document.createTextNode(event.data);
                message.appendChild(content);
                messages.appendChild(message);
                event.preventDefault();

                var server_response = JSON.parse(event.data, null, 4);

                if (server_response["id_response"] == parseInt(document.getElementById("pcb_id").value) ) {

                    if (server_response["esp_status"] == true) {

                        setTimeout(function() {
                            const status_detail = "Esp32 Activa"
                            const statusElement = document.getElementById('statusReponse');
                            statusElement.textContent = status_detail;
                            setTimeout(function() { statusElement.textContent = "" }, 5000);
                        }, 500);                        

                    } else if (server_response["raspberry_status"] == true ) {

                        setTimeout(function() {
                            const status_detail = "Raspberry Activa"
                            const statusElement = document.getElementById('statusReponse');
                            statusElement.textContent = status_detail;
                            setTimeout(function() { statusElement.textContent = "" }, 5000);
                        }, 500);

                    } else {

                        setTimeout(function() {
                            ws.close();
                        }, 5000);

                        //setTimeout(function() {
                        //    location.reload();
                        //}, 5000);

                        // var encodedData = encodeURIComponent(JSON.stringify(server_response));
                        // var targetURL = "//localhost:8000/response?data=" + encodedData;
                        // window.location.href = targetURL;

                        // fetch('http://localhost:8000/updatejson', {
                        fetch('https://edumedia-ca-9ee0c2643de4.herokuapp.com/updatejson', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({server_response,request_json})
                        })
                        .then(response => {
                        })
                        .catch(error => {
                            console.error('An error occurred:', error);
                        });


                        // fetch('http://localhost:8000/response', {
                        fetch('https://edumedia-ca-9ee0c2643de4.herokuapp.com/response', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(server_response)
                        })
                        .then(response => {
                            if (response.status === 200) {
                                // var targetURL = "http://localhost:8000/response";
                                var targetURL = "https://edumedia-ca-9ee0c2643de4.herokuapp.com/response";
                                window.location.href = targetURL;
                            } else {
                                console.error('Unexpected response:', response);
                            }
                        })
                        .catch(error => {
                            console.error('An error occurred:', error);
                        });

                    }

                }
                
            };
            
            function sendMessage(event) {
                var input = document.getElementById("messageText");
                ws.send(input.value);
                input.value = '';
                event.preventDefault();
            }

                
            var variable =  {{ variable[0][1] | tojson | safe }};
            var days = variable["pcb_parameters"]["days_turned_on"];

            if ( days.includes("mon")) {
                document.getElementById("monday").checked  = true;
            } 

            if ( days.includes("tue")) {
                document.getElementById("tuesday").checked  = true;
            } 

            if ( days.includes("wed")) {
                document.getElementById("wednesday").checked  = true;
            } 

            if ( days.includes("thu")) {
                document.getElementById("thursday").checked  = true;
            } 

            if ( days.includes("fri")) {
                document.getElementById("friday").checked  = true;
            } 

            if ( days.includes("sat")) {
                document.getElementById("saturday").checked  = true;
            } 

            if ( days.includes("sun")) {
                document.getElementById("sunday").checked  = true;
            } 
            
            if (variable["environment_variables"]["tipo_modulo"] == "check_in_out") {
                document.getElementById("selection_module_type").value = "check_in_out";
            }

            if (variable["environment_variables"]["tipo_modulo"] == "checkout") {
                document.getElementById("selection_module_type").value = "checkout";
            }

            if (variable["environment_variables"]["tipo_modulo"] == "check_in_out_edumedia") {
                document.getElementById("selection_module_type").value = "check_in_out_edumedia";
            }

            if (variable["environment_variables"]["tipo_modulo"] == "torniquete_edumedia") {
                document.getElementById("selection_module_type").value = "torniquete_edumedia";
            } 

            if (variable["environment_variables"]["timezone"] == "America/Mexico_City") {
                document.getElementById("selection_timezone").value = "America/Mexico_City";
            }

            if (variable["environment_variables"]["timezone"] == "America/Los_Angeles") {
                document.getElementById("selection_timezone").value = "America/Los_Angeles";
            }

            if (variable["environment_variables"]["individuo_identificador"] == "RFID") {
                document.getElementById("identification_type").value = "RFID";
            }

            if (variable["environment_variables"]["individuo_identificador"] == "NUMERO_DE_CONTROL") {
                document.getElementById("identification_type").value = "NUMERO_DE_CONTROL";
            }

            if (variable["environment_variables"]["individuo_identificador"] == "CODIGO_BARRAS") {
                document.getElementById("identification_type").value = "CODIGO_BARRAS";
            } 

            function raspberryStatus(event) {

                var pcb_id_ = parseInt(document.getElementById("pcb_id").value);
                request_json = {
                "pcb_parameters": {
                    "pcb_id": pcb_id_,
                },
                "raspberry_status": true
                }
                var request_str = JSON.stringify(request_json, null, 4);
                ws.send(request_str);
            }

            function espStatus(event) {
                
                var pcb_id_ = parseInt(document.getElementById("pcb_id").value);
                request_json = {
                "pcb_parameters": {
                    "pcb_id": pcb_id_,
                },
                "esp_status": true
                }
                var request_str = JSON.stringify(request_json, null, 4);
                ws.send(request_str);
            }

            function sendJson(event) {

                const resultElement = document.getElementById('jsonInput');
                
                var on_hour_ = parseInt(document.getElementById("on_hour").value);
                var on_minute_ = parseInt(document.getElementById("on_minute").value);
                var on_second_ = parseInt(document.getElementById("on_second").value);
                var off_hour_ = parseInt(document.getElementById("off_hour").value);
                var off_minute_ = parseInt(document.getElementById("off_minute").value);
                var off_second_ = parseInt(document.getElementById("off_second").value);
                var day_list = [];

                if (document.getElementById("monday").checked  == true){
                    day_list.push("mon");
                }
                if (document.getElementById("tuesday").checked  == true){
                    day_list.push("tue");
                }
                if (document.getElementById("wednesday").checked  == true){
                    day_list.push("wed");
                }
                if (document.getElementById("thursday").checked  == true){
                    day_list.push("thu");
                }
                if (document.getElementById("friday").checked  == true){
                    day_list.push("fri");
                }
                if (document.getElementById("saturday").checked  == true){
                    day_list.push("sat");
                }
                if (document.getElementById("sunday").checked  == true){
                    day_list.push("sun");
                }

                var timezone_ = parseInt(document.getElementById("timezone").value);
                var ssid_ = document.getElementById("ssid").value;
                var password_ = document.getElementById("password").value;
                var pcb_id_ = parseInt(document.getElementById("pcb_id").value);
                var pcb_details_list = [document.getElementById("detail1").value, document.getElementById("detail2").value];
                var pcbversion_ = parseFloat(document.getElementById("pcbversion").value);
                var stand_by_ = document.getElementById("stand_by").value;
                var ok_student_ = document.getElementById("ok_student").value;
                var error_student_ = document.getElementById("error_student").value;

                var app_server_url_ = document.getElementById("app_server_url").value;
                var selection_module_type_ = document.getElementById("selection_module_type").value;
                var selection_timezone_ = document.getElementById("selection_timezone").value;
                var plantel_identificador_ = document.getElementById("plantel_identificador").value;
                var plantel_nombre_ = document.getElementById("plantel_nombre").value;
                var identification_type_ = document.getElementById("identification_type").value;

                var import_students_= false;
                if (document.getElementById("import_students").value == "on") {
                    import_students_ = true;
                }

                var sync_data_ = false;
                if (document.getElementById("sync_data").value == "on") {
                    sync_data_ = true;
                }

                var schema_creation_ = false;
                if (document.getElementById("schema_creation").value == "on") {
                    schema_creation_ = true;
                }

                request_json =  {
                "pcb_parameters": {
                    "turn_on_time": [on_hour_, on_minute_, on_second_],
                    "turn_off_time": [off_hour_, off_minute_, off_second_],
                    "days_turned_on": day_list,
                    "timezone_offset": timezone_,
                    "wifi_parameters": {
                        "ssid": ssid_,
                        "password": password_,
                    },
                    "pcb_id": pcb_id_,
                    "pcb_details": pcb_details_list,
                    "pcb_version": pcbversion_,
                    "color_leds": {
                        "stand_by_color_led": stand_by_,
                        "ok_student_color_led": ok_student_,
                        "error_student_color_led": error_student_,
                    }
                },
                "actions": {
                    "import_students": import_students_,
                    "sync_data": sync_data_,
                    "schema_creation": schema_creation_
                },
                "environment_variables": {
                    "app_server_url": app_server_url_,
                    "tipo_modulo": selection_module_type_,
                    "timezone": selection_timezone_,
                    "plantel_identificador": plantel_identificador_,
                    "plantel_nombre": plantel_nombre_,
                    "individuo_identificador": identification_type_,
                },
                "status": {
                    "raspberry": false,
                    "esp32": false
                }
                }
                resultElement.textContent = JSON.stringify(request_json, null, 4);
                ws.send(resultElement.textContent);
            }
            
            function seeJson(event) {

            const resultElement = document.getElementById('jsonInput');

            var on_hour_ = parseInt(document.getElementById("on_hour").value);
            var on_minute_ = parseInt(document.getElementById("on_minute").value);
            var on_second_ = parseInt(document.getElementById("on_second").value);
            var off_hour_ = parseInt(document.getElementById("off_hour").value);
            var off_minute_ = parseInt(document.getElementById("off_minute").value);
            var off_second_ = parseInt(document.getElementById("off_second").value);
            var day_list = [];

            if (document.getElementById("monday").checked  == true){
                day_list.push("mon");
            }
            if (document.getElementById("tuesday").checked  == true){
                day_list.push("tue");
            }
            if (document.getElementById("wednesday").checked  == true){
                day_list.push("wed");
            }
            if (document.getElementById("thursday").checked  == true){
                day_list.push("thu");
            }
            if (document.getElementById("friday").checked  == true){
                day_list.push("fri");
            }
            if (document.getElementById("saturday").checked  == true){
                day_list.push("sat");
            }
            if (document.getElementById("sunday").checked  == true){
                day_list.push("sun");
            }

            var timezone_ = parseInt(document.getElementById("timezone").value);
            var ssid_ = document.getElementById("ssid").value;
            var password_ = document.getElementById("password").value;
            var pcb_id_ = parseInt(document.getElementById("pcb_id").value);
            var pcb_details_list = [document.getElementById("detail1").value, document.getElementById("detail2").value];
            var pcbversion_ = parseFloat(document.getElementById("pcbversion").value);
            var stand_by_ = document.getElementById("stand_by").value;
            var ok_student_ = document.getElementById("ok_student").value;
            var error_student_ = document.getElementById("error_student").value;

            var app_server_url_ = document.getElementById("app_server_url").value;
            var selection_module_type_ = document.getElementById("selection_module_type").value;
            var selection_timezone_ = document.getElementById("selection_timezone").value;
            var plantel_identificador_ = document.getElementById("plantel_identificador").value;
            var plantel_nombre_ = document.getElementById("plantel_nombre").value;
            var identification_type_ = document.getElementById("identification_type").value;

            var import_students_= false;
            if (document.getElementById("import_students").value == "on") {
                import_students_ = true;
            }

            var sync_data_ = false;
            if (document.getElementById("sync_data").value == "on") {
                sync_data_ = true;
            }

            var schema_creation_ = false;
            if (document.getElementById("schema_creation").value == "on") {
                schema_creation_ = true;
            }

            var request_json =  {
            "pcb_parameters": {
                "turn_on_time": [on_hour_, on_minute_, on_second_],
                "turn_off_time": [off_hour_, off_minute_, off_second_],
                "days_turned_on": day_list,
                "timezone_offset": timezone_,
                "wifi_parameters": {
                    "ssid": ssid_,
                    "password": password_,
                },
                "pcb_id": pcb_id_,
                "pcb_details": pcb_details_list,
                "pcb_version": pcbversion_,
                "color_leds": {
                    "stand_by_color_led": stand_by_,
                    "ok_student_color_led": ok_student_,
                    "error_student_color_led": error_student_,
                }
            },
            "actions": {
                "import_students": import_students_,
                "sync_data": sync_data_,
                "schema_creation": schema_creation_
            },
            "environment_variables": {
                "app_server_url": app_server_url_,
                "tipo_modulo": selection_module_type_,
                "timezone": selection_timezone_,
                "plantel_identificador": plantel_identificador_,
                "plantel_nombre": plantel_nombre_,
                "individuo_identificador": identification_type_,
            },
            "status": {
                "raspberry": false,
                "esp32": false
            }
            }
            resultElement.textContent = JSON.stringify(request_json, null, 4);
            }

        </script>
    </body>
</html>
