<!DOCTYPE html>
<html>
    <head>
        <title> Control de Acceso  - Response </title>
        <link rel="icon" href="static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
<body>

    <h1> Respuesta del módulo </h1>

    <div>
        <button onclick="returnHome()"> Regresar a la página principal </button>
    </div>

    <div id="cardContainer"></div>

    <script>

        var jsonData = {{ variable | tojson | safe }};
        const cardContainer = document.getElementById('cardContainer');
        var message_pcb_parameters = ""

        for (var key in jsonData) {

            const card = document.createElement('div');
            card.className = 'card';

            const title = document.createElement('h2');
            title.textContent = key;

            const content = document.createElement('p');

            const listContainer = document.getElementById('listContainer');
            if (key == "pcb_parameters") {
                for ( var key in jsonData["pcb_parameters"]) {
                    const listItem = document.createElement('li');
                    if (jsonData["pcb_parameters"][key] == "already on embedded") {
                        message_pcb_parameters = "Parámetro sin cambio.";
                    } else {
                        message_pcb_parameters = jsonData["pcb_parameters"][key];
                    }
                    listItem.textContent = key + ": " + message_pcb_parameters;
                    content.appendChild(listItem);
                }
            }

            if (key == "id_response") {
                content.textContent = JSON.stringify(jsonData[key]);
            }

            if (key == "actions") {

                for ( var key in jsonData["actions"]) {
                    const listItem = document.createElement('li');
                    var message_pcb_parameters = jsonData["actions"][key] 
                    listItem.textContent = key + ": " + message_pcb_parameters;
                    content.appendChild(listItem);
                }

            }

            if (key == "environment_variables") {
                content.textContent = JSON.stringify(jsonData[key]);
            }

            card.appendChild(title);
            card.appendChild(content);
            cardContainer.appendChild(card);
        }

        function returnHome(event) {
            var targetURL = "http://localhost:8000/";
            //var targetURL = "https://edumedia-ca-9ee0c2643de4.herokuapp.com/";
            window.location.href = targetURL;
        }

    </script>
</body>
</html>